<!DOCTYPE html>
<nz-tree
  #myTree
  id="mytree1"
  [nzData]="nodes"
  nzDraggable
  nzBlockNode
  (nzOnDrop)="nzEvent($event)"
  (nzOnDragEnd)="dropEnd($event)"
  [nzBeforeDrop]="beforeDrop"
  (nzOnDragOver)="dragOver($event)"
  (nzOnDragLeave)="dragLeave($event)"
  (nzOnDragEnter)="dragEnter($event)"
  (nzOnDrop)="drop($event)"
  (nzOnDragEnd)="dragEnd($event)"
></nz-tree>

<button (click)="addSvid()">add svid</button>
<button (click)="addOperator()">add operator</button>

<nz-tree
  #myTree
  id="mytree2"
  [nzData]="nodes2"
  nzDraggable
  nzBlockNode
  (nzOnDrop)="nzEvent($event)"
  (nzOnDragEnd)="dropEnd($event)"
  [nzBeforeDrop]="beforeDrop"
  (nzOnDragOver)="dragOver($event)"
  (nzOnDragLeave)="dragLeave($event)"
  (nzOnDragEnter)="dragEnter($event)"
  (nzOnDrop)="drop($event)"
  (nzOnDragEnd)="dragEnd($event)"
></nz-tree>
